body.homepage {
    background: #12191D}

p.homepage {
	font-family: "proxima nova", sans-serif;
	font-weight: 100;
	font-size: 25px;
	color: #F5F5F5
}


a{
	text-decoration: inherit;
	
}
ul{
	font-family: "proxima nova", sans-serif;
	font-color: #F5F5F5;
	font-size: 30px;
	color: #F5F5F5
	font-weight: 100;
	}

li{
	color: #F5F5F5;
	font-family: "proxima nova", sans-serif;
	font-weight: 100;
	font-style: 30px;
	border: solid 2px #54F19D;
	border-radius: 50px;
	padding: 10px 80px;
	text-decoration: none;	
	

}

h1{
	font-family: "proxima nova", sans-serif;
	font-size: 40px;
	color: #F5F5F5
}
h1{
	margin-left: 250px;
}
h2{
	font-family: "proxima nova", sans-serif;
	color: #F5F5F5
}
h2{
	margin-left: 337px;
}
h3{
	font-family: "proxima nova", sans-serif;
	font-size: 25px;
	color: #F5F5F5
}

body.page2{
	background: #12191D
}
h1.page2{
	font-family: "proxima nova", sans-serif;
	font-size: 40px;
	color: #F5F5F5
}
h1.page2{
	margin-left: 250px;
}
li.page2{
	font-family: "proxima nova", sans-serif;
	font-size: 25px;
	color: #F5F5F5
}
p.page2{
	font-family: "proxima nova", sans-serif;
	font-size: 20px;
	color: #F5F5F5
}
th.page2{
	padding: 15px;
}

body.page3{
	background: #12191D
}
h1.page3{
	font-family: "proxima nova", sans-serif;
	color: #F5F5F5
}
h1.page3{
	margin-left: 250px;
}
title.page3{
	font-family: "proxima nova", sans-serif;
	font-size: 25px;
	color: #F5F5F5
}
p.page3{
font-family: "proxima nova", sans-serif;
	font-weight: 100px;
	font-size: 25px;
	color: #F5F5F5
}
table.page3{
	font-family: "proxima nova", sans-serif;
	font-size: 30px;
	color: #F5F5F5

}

th.page3{
	padding: 100px
}
th.page3{
	font-family: "proxima nova",sans-serif;
	font-size: 30px;
	color: #F5F5F5
}
li.page3{
	font-family: "proxima nova", sans-serif;
	font-size: 25px;
	color: #F5F5F5

}
body.page4{
	background: #12191D
}
h1.page4{
	font-family: "proxima nova", sans-serif;
	font-size: 40px;
	color: #F5F5F5
}
h1.page4{
	margin-left: 250px;
}
p.page4{font-family: "proxima nova",sans-serif;
	font-size: 25px;
	color: #F5F5F5
}
table.page4{
	font-family: "proxima nova", sans-serif;
	font-size: 30px;
	color: #F5F5F5
}

li.page4{
	font-family: "proxima nova", sans-serif;
	font-size: 25px;
	color: #F5F5F5
}
th.page4{
	padding: 100px
}

th.page4{
	font-family: "proxima nova",sans-serif;
	font-size: 28px;
	color: #F5F5F5
}

body.page5{
	background: #12191D
}
h1.page5{
	font-family: "proxima nova", sans-serif;
	font-size: 40px;
	color: #F5F5F5
}
h1.page5{
	margin-left: 325px;
}
li.page5{
	font-family: "proxima nova", sans-serif; 
	font-size: 25px;
	color: #F5F5F5
}
p.page5{
	font-family: "proxima nova", sans-serif;
	font-size: 20px;
	color: #F5F5F5
}
th.page5{
	padding: 50px
}




